/*Websites*/

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

.row{
    border: red solid 2px;
    background-color: darkkhaki;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

img{
    width: 100%;
    height: auto;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    /*border: 1px solid red; */
    border-radius: 8px;
    background-color: bisque;
}

@media screen and (max-width: 200px) {
    [class*"col-"] {width: 100%;}
}
#top{min-height: 50px;}
#menu{min-height: 50px;}
#middle{min-height: 400px;}
#lowermenu{min-height: 50px;}


#icon {
    width: 50px;
    float: right;
    margin-right: 10px;   

}

#sociol {
    color: coral;
    font-family: 'Times New Roman', Times, serif;
    background-color: bisque;
}

#menu #mainmenu ul {
    list-style-type: none;
}

#menu #mainmenu ul li{
    border: 1px solid rgb(252, 12, 12);
    float: left;
    width: 25%;
    border-radius: 5px;
    background-color: darkkhaki;
    text-align: center;
    
}

@media screen and (max-width: 500px) {
    #menu #mainmenu ul li {width: 100%;}
}

#menu #mainmenu a {
    color: coral;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
}

#menu #mainmenu a:hover {
    color: blue;
    text-decoration: underline;
}

#menu #mainmenu a:active {
    color: blueviolet;
}

#lower #lowermenu p {
    text-align: center;
    color: coral;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    text-decoration: none;
}


#middle #section h1 {
    color: coral;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold ;

}

#middle #aside h1 {
    color: coral;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold ;

}


